* {
	box-sizing: border-box;
	border: 0;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

/*Imagen del fondo*/
body {
	background-image: url(../img/bg01.jpg);
	box-shadow: inset 0 0 10px #000;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Efecto gradiente de fondo*/
.bgGradient {
	min-height: 670px;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.84) 84%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(84%, rgba(0,0,0,0.84)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.84) 84%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.84) 84%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.84) 84%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.84) 84%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

/*Menú fijo*/
.navbar {
	min-width: 100%;
    min-height: 50px;
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
	margin-right: auto;
	margin-left: auto;
	position: fixed;
}

/*Links del Menú*/
li {
	color: #7E8E9A;	
	list-style: none;
	display: inline;
	margin-right: 10px;
	margin-left: 50px;
	margin-top: 15px;
	float: left;
	transition: color .3s ease-out;
}

li:hover {
	color: #4BB4F4;
}

.navbar-link {
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #7E8E9A;
	transition: color .3s ease-out;	
}

.navbar-link:hover {
	color: #4BB4F4;
}

.fa {
	font-size: 35px;
	margin-right: 5px;
}

/*Ícono Twitter*/
.fa-twitter {
	color: #4BB4F4;
	margin-top: 15px;
    margin-left: 18%;
    font-size: 25px;
}

/*Contenedor de todos los divs*/
#container {
	margin-right: auto;
	margin-left: auto;
}

.container-link {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #4BB4F4;
	transition: all .3s ease-out;	

}

.container-link:hover {
	text-decoration: underline;
}

/*Div de la izquierda*/
.fixedDiv {
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
	min-width: 45%;
    height: 200px;
	margin-top: 100px;
	margin-left: 50px;
	padding: 25px;
	color:#7E8E9A;
	vertical-align: top;
	display: inline-block;
}

.fixedDiv-title {
	font-size: 25px;
	margin-bottom: 15px;
}

.fixedDiv-text {
	line-height: 1.4;
	margin-bottom: 15px;
	font-size: 15px;
}

.fixedDiv-line {
	background-color: #DCDCDC;
	min-width: 50%;
	margin-bottom: 20px;
	height: 1px;
}

/*Div de la derecha con el input*/
.inputDiv {
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
	min-width: 45%;
    min-height: 200px;
	margin-top: 100px;
	margin-left: 20px;
	padding: 25px;
	display: inline-block;
}

textarea {
	width: 100%;
	min-height: 30%;
	outline: none;
	resize: none;
	font-size: 15px;
	border-bottom: solid 2px #4BB4F4;
	color: #7E8E9A;
	padding-bottom: 40px;
}

/*Botón*/
#btn {
	padding: 10px 30px;
	background-color: #4BB4F4;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	transition: all .3s ease-out;	
	margin-top: 25px;
}

/*Botón desactivado*/
.disableBtn {
	opacity: 0.5;
}


/*Div creado del tweet*/
.commentDivTweet {
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
	margin-top: 1em;
    width: 92%;
    min-height: 20px;
    padding: 15px;
    white-space:pre-wrap;
    margin-left: auto;
    margin-right: auto;

}

p {
	display: inline-block;

}

.addTweet {
	background-color: #4BB4F4;
	color: #fff;
}


.tweetText {
	font-size: 15px;
	color: #7E8E9A;

}

/*Contador*/
#counter {
	font-weight: bold;
	float: right;
    margin-top: 28px;
}

/*Color base del contador*/
.basecolor {
	color: #4BB4F4;
}

/*1ra advertencia con color del contador*/
.prewarning {
	color: orange;
}

/*2da advertencia con color del contador*/
.warning {
	color: crimson;
}

